body{
  background: no-repeat;
  background-image: url('Yosemite.jpeg');
}
 .board {
    display: grid;
    width: 500px;
    height: 500px;
    align-content: center;
    justify-content: center;
    border: solid black;
  }
  .board:hover{
    cursor: crosshair;
  }
  button{
    margin: 10px;
    min-width: 75px;
    min-height: 25px;
    border-radius: 5px;
    /* box-shadow: 10px 5px 5px red; */
  }
  button:hover{
    cursor: pointer;
    transition: 1s;
    background-color: yellow;
    
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    background: rgba(51, 170, 51, 0); 
    
    

  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  